{% extends "AppBundle:Default:layout.html.twig" %}


{% block body %}


    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <br>
            <h3>Welcome to the Bee Game! </h3>
            <img id="bee" class="img-bee" src=" {{ asset('bundles/app/images/drone.jpg') }} " height="220" width="220" style="display: none" />


            <form class="m-t">
                <button id="playButton" class="btn btn-primary full-width m-b" >Start Game</button>
                <button id="hitButton" class="btn btn-danger full-width m-b" style="display: none">Hit</button>
            </form>

            <p class="m-t" id="descBee" style="display: none"> <b>Hello</b> I'm the <small id="kindBeeValue"></small> Bee</p>
            <p class="m-t" id="qtyBee" style="display: none"> <b>Alive: </b><small id="qtyBeeValue"></small> </p>
            <p class="m-t" id="lifespanBee" style="display: none"> <b>Lifespan:</b> <small id="lifespanBeeValue"></small> </p>
        </div>
    </div>


{% endblock %}




