<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to Bee Game{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">


        <link href="{{ asset('bundles/app/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

        <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/logo.jpg') }}" />




</head>


<body class="gray-bg">


{% block body %}





{% endblock %}



{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/app/js/jquery-2.1.1.js') }} "></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }} "></script>


    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript" src="{{ asset("bundles/game/js/main.js") }}"></script>
{% endblock %}
</body>
</html>

